body{
    background-image: url("vecteezy_ai-generated-tranquil-lake-surrounded-by-dense-forest-with_37982038.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: "Rethink Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
#emailHelp{
    color: white;
}
form.container {
    max-width: 700px;
    background: rgba( 255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.form-control{
    background-color: transparent;
}
.form-control:focus{
    background-color: transparent;
    color: white;
    border-color: white;
}
.btn{
    background-color: white;
    color: black;
}
